
/**
 * style.css
 * copyright:Nanchang University Information School Wu Jingjing
 *
 * @author 吴晶晶
 * Created on  2020-04-28  18:27
 * Description:style for windows.
 */
.button{
         -fx-text-fill: white;
         -fx-font-family: "Arial Narrow";
         -fx-font-weight: bold;
         -fx-background-color: linear-gradient(#61a2b1, #2A5058);
         -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
         -fx-pre-height:20;
         -fx-font-size:16;
}

.button1{
       -fx-font-weight:bold;
       -fx-text-fill:black;
       -fx-pref-width:100;
       -fx-pref-height:100;
       -fx-alignment:bottom-center;
}

#main-land{
        -fx-background-image:url(img/flaxen.png);

}
#adult{
       -fx-background-image:url(img/adultFootball.jpg);
}

#schoolBoyA{
        -fx-background-image:url(img/schoolBoyA.jpg);
}

#schoolBoyB{
        -fx-background-image:url(img/schoolBoyB.jpg);
}

#schoolGirl{
        -fx-background-image:url(img/schoolGirl.jpg);
}

#court{
        -fx-background-image:url(img/court.jpg);
}

#judge{
        -fx-background-image:url(img/judge.jpg);
}

#assistant{
        -fx-background-image:url(img/assistant.jpg);
}

#gameInformation{
        -fx-background-image:url(img/information.jpg);
}

#gaming{
        -fx-background-image:url(img/startGame.jpg);

}

#gameOver{
        -fx-background-image:url(img/exit.jpg);
 }


.button:hover{
		-fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
.button:pressed{
		-fx-background-color: #64abbc;
}


.label {
        -fx-pref-width:100;
        -fx-pref-height:20;
        -fx-alignment:right;
        -fx-font-size: 14px;
        -fx-font-weight: bold;
        -fx-alignment:center-right;
        -fx-fill: FIREBRICK;
        -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}


.tname{
        -fx-pref-width:75;
        -fx-alignment:center-left;
}

.pname{
           -fx-pref-width:95;
}

.pgender{
            -fx-pref-width:121;
}

.page{
            -fx-pref-width:75;
}

.dialog-pane{
    -fx-background-image:url(img/flaxen.png);
    -fx-padding:50;
}

.button-type{


}

.text-field{
        -fx-pref-width:100;
        -fx-border-radius:4;
        -fx-border-color:black;
        -fx-background-color:white;
}

#team_name{
            -fx-alignment:center;
}

#v-box{
        -fx-spacing:10;
        -fx-padding:10 0 30 10;

}
